.rodape{
    background-color: #456ab6;
    width: 92.4%;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 50px;
    font-size: 20px;
    color: white;
}

.redes-sociais{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    gap: 50px; 
    
}
